.bookPlaceholder {
  display: inline-flex;
  box-sizing: border-box;
  width: 22rem;
  margin: 3.1rem 0.6rem 0 0;
}

.bookTitle {
  grid-column: 1;
  grid-row: 1;
  font-size: 1.1rem;
  margin: 0 0 0.3rem 0;
  padding: 1.25rem 0 0 0;
}

.bookAuthor {
  grid-column: 1;
  grid-row: 2;
  font-size: 1.1rem;
  margin: 0 0 0.3rem 0;
}

.bookCover {
  grid-column: 1;
  grid-row: 3;
}

.bookDescription {
  grid-column: 2;
  grid-row: 4;
  font-size: 1rem;
  text-align: justify;
}
